adddefaultcharset UTF-8
ErrorDocument 404 /404.php
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
</IfModule>
<IfModule mod_headers.c>
  <FilesMatch .*\.(js|css)$>
    Header set Cache-control: private
  </FilesMatch>
  <FilesMatch .*\.(gif|jpg|png)$>
    Header set Cache-control: public
  </FilesMatch>
</IfModule>
<IfModule mod_setenvif.c>
  BrowserMatch "MSIE" force-no-vary
  BrowserMatch "Mozilla/4.[0-9]{2}" force-no-vary
</IfModule>
FileETag MTime Size
<ifmodule mod_expires.c>
<filesmatch ".(jpg|jpeg|gif|png|ico|css|js)$">
ExpiresActive on
ExpiresDefault "access plus 1 month"
</filesmatch>
</ifmodule>
RewriteEngine on
RewriteRule ^article/([0-9]+)/? view_a.php?id=$1 [QSA,L]
RewriteRule ^articles/([0-9]+)/? articles.php?categ=$1 [QSA,L]
RewriteRule ^([^.]+)$ index.php?page=$1 [QSA,L]